/* Project Component Styles */
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
  gap: 30px; /* Space between project cards */
  padding: 20px; /* Optional padding around the project grid */
  justify-content: center; /* Center the grid content horizontally */
}

.project-card {
  background-color: black;
  border-radius: 10px;
  border: 2px solid fuchsia;
  box-shadow: 0 4px 6px lightpink;
  text-align: center;
  padding: 10px;
}

.project-card a {
  text-decoration: none;
  color: green; /* Consistent link color */
}

.project-image {
  border-radius: 10px;
  max-width: 100%; /* Ensures the image does not exceed the card's width */
  object-fit: cover; /* Crop image while maintaining aspect ratio */
}

.project-text {
  color: hotpink;
  font-family: 'Roboto';
  font-size: large;
  margin: 0;
}

/* Optional: Title Styles */
.tool-text {
  text-align: center;
  color: hotpink;
  font-family: 'Roboto';
  padding: 2px;
  line-height: 1;
}

/* Consider removing styles that are not used in the Project component */
