.App {
  background-color: rgb(89, 85, 85);
  padding-top: 50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.container {
  padding-left: 0;
  padding-right: 0;
}

/* Add any other styles you need */
